@import '../variables.styl'

.RepositoryList-container
  background-color lighten(color-lightest, 60)
  position relative
  padding 10px 20px
  
  .RepositoryList-controls
    
    select, input, span
      margin 0 20px
  
  .RepositoryList-empty
    margin 20px
    text-align center
    font-style italic

  ul
    list-style-type none
    
    li
      margin 15px 0