@import '../variables.styl'

.RepositoryItem-container
  padding 10px
  background-color lighten(color-lightest, 55)
  border-radius 5px
  border 1px solid lighten(color-lightest, 45)
  
  .RepositoryItem-title
    a
      color color-normal
  
  p
    margin 10px 20px
    
    .NoDescription
      color color-dark
      font-style italic
  
  .RepositoryItem-stats
    display flex
    flex-wrap wrap
    justify-content space-between
    
    .RepositoryItem-stat
      display flex
      justify-content space-between
      margin 10px 20px
      padding 10px 15px
      min-width 90px
      border-radius 5px
      border 1px solid darken(color-gray, 10)
      background-color color-gray
      color darken(color-gray, 60)
      
