@import '../variables.styl'

.RequestInfo-container
  display inline-block
  font-size: 0.8em
  color lighten(color-black, 50)
  font-style italic
  
  span
    margin-right 10px
    
    &.error
      color red