@import '../variables.styl'

.SearchBar-container
  margin 15px 0
  
  input, button
    margin-right 10px
    font-size 1em
  
  input[type=text]
    margin-left 1px // For the focus box shadow
    width 175px
    
    
    